<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to API pipefy-whatsapp-api" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <action type="Rewrite" url="http://192.168.15.6:5000/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
